*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: georgia;
}

body{
    background-color: #06304C;
    color: black;
}

.inicio{
    display: flex;
    margin-bottom: 16px;
    background-color: #155E8D;
    height: 60px;
}

h1{
    display: flex;
    justify-content: left;
    align-items: center;
    color: white;
    width: 50%;
    padding-left: 15px;
    font-size: 26px;
    font-weight: 550;
}

/*-------------Navbar--------------*/
nav{
    width: 50%;
}

.nav{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    font-size: 0;
}

.navbar{
    position:relative;
    top: 18px;
    font-size: 14px;
}

li a {
    color: white;
    font-weight: 550;
    font-size: 1.2rem;
    text-decoration: none;
}

ul li:hover ul {
    display:block;
}

/*-------------Seccion1 - Sobre mi--------------*/
.frase{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    color: white;
}

.container1{
    display: flex;
    justify-content: center;
    margin: 10px;
}

.card1{
    padding: 2px;
    display: flex;
    width: 65%;
    background-color: lightslategray;
    height: 450px;
    margin: 1rem;
}

.container-imagen{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.cardImg{
    width: 350px;
    height: 400px;
    align-self: center;
    border-radius: 2%;
}

.contnCard1{
    padding: 15px;
    display: flex;
    flex-direction: column;
    text-align: justify;
    align-items: center;
    justify-content: space-around;
}

.botonPrimario{
    border-radius: 5%;
    box-shadow: 0.2rem 0.2rem 0.5rem rgb(37, 37, 37);
    padding: 6px;
    width: 150px;
    color: white;
    background-color: #1f7ea1;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

/*-------------Seccion2 - Mis Cursos--------------*/
h2{
    padding: 18px;
    text-align: center;
    background-color: #155E8D;
    color: white;
}

.proyectos{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 15px;
    align-items: center;
    padding: 10px;
}

.container2{
    padding: 15px 25px 15px 25px;
    margin: 5px;
    width: 45%;
    height: 550px;
    text-align: justify;
    background-color: lightslategray;
}

h3{
   text-align: center;
    padding-bottom: 15px
}

ul{
    padding: 5px 0px 15px 15px;
}

a{
    color: black;
    text-decoration: none;
}

.enlace{
    color: black;
    font-size: 1rem;
}

.cursos{
    color: black;
    font-size: 16px;
    display: flex;
    justify-content: center;
    padding: 6px;
}

.img-tp{
    margin: 5px;
    width: 200px;
    height: 135px;
}

/*-------------Footer--------------*/
footer{
    background-color: #155E8D;
    height: 60px;
    display: flex;
    color: white;
}

.text-footer{
    width: 50%;
    padding: 18px;
    text-align: center;
}

.redes{
    font-size: 20px;
}

.icon-footer{
    padding-top: 18px;
}

.linkedin{
    color: #fff;
    width: 100px;
}



@media screen and (min-width: 400px) and (max-width: 700px) {
    h1{
        font-size: 1.2rem;
        text-align: center;
    }

    .frase{
        text-align: center;
    }

    .card1{
        padding: 2px;
        display: flex;
        width: 80%;
        flex-direction: column;
        height: auto;
    }
    
    .cardImg{
        width: 70%;
        height: 300px;
        border-radius: 2%;
    }
    
    .botonPrimario{
        margin-top: 1.5rem;
    }

    h2{
        padding: 12px;
        font-size: 1rem;
    }

    .proyectos{
        display: flex;
        flex-direction: column;
    }

    .container2{
        width: 80%;
        height: auto;
    }

    h3{
        font-size: 1rem;
    }

    .img-tp{
        width: 110px;
        height: 60px;
        margin: 2px;
        padding: 2px;
    }

    .redes{
        display: flex;
        justify-content: space-evenly;
    }

    .text-footer{
        width: 65%;
    }
    
    .linkedin{
        width: 35%;
        padding-left: 1.5rem;
    }
}

@media (max-width: 1000px) {
    li a {
        font-size: 1.2rem;
        font-weight: 550;
    }

    .card1{
        padding: 2px;
        display: flex;
        width: 60%;
        flex-direction: column;
        height: auto;
        margin: 1rem;
    }

    .cardImg{
        width: 300px;
        height: 320px;
        border-radius: 2%;
    }

    .botonPrimario{
        margin-top: 1.5rem;
    }

    .proyectos{
        display: flex;
        flex-direction: column;
    }

    .container2{
        width: 80%;
        height: 700px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .img-tp{
        width: 170px;
        height: 120px;
    }
}

@media (max-width: 1300px) {
    li a {
        font-size: 1.2rem;
        font-weight: 550;
    }

    .card1{
        padding: 2px;
        display: flex;
        width: 80%;
        height: auto;
        margin: 1rem;
    }
    
    .cardImg{
        width: 300px;
        height: 320px;
        border-radius: 2%;
    }

    .botonPrimario{
        margin-top: 1rem;
    }

    .container2{
        height: 570px;
    }
    
    .img-tp{
        width: 190px;
        height: 130px;
    }

    .text-footer{
        font-size: 1.1rem;
    }
    
    .redes{
        font-size: 1.5rem;
    }
}